<div class="price-slider">
	<div class="price-slider-wr">
		<div class="price-slider-labels">
			<div class="price-slider-labels__item">
				<span class="price-slider-labels_from">0</span>
				₽
			</div>
			<div class="price-slider-labels__item">
				<span class="price-slider-labels_to">0</span>
				₽
			</div>
		</div>
		<div class="price-range" data-field-name="{{fieldName}}" data-type="{{type}}" data-min="{{min}}" data-max="{{max}}" data-from="{{from}}" data-to="{{to}}"></div>
		<input type="hidden" class="price-input" name="{{fieldName}}-min">
		<input type="hidden" class="price-input" name="{{fieldName}}-max">
	</div>
</div>
